examples/combiplus.json
[
    {
        "id": "97fb627249654d0a",
        "type": "tab",
        "label": "COMBIPLUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aaf3f21ac92d22db",
        "type": "debug",
        "z": "97fb627249654d0a",
        "name": "Modulator",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "097ef3285bb984bf",
        "type": "debug",
        "z": "97fb627249654d0a",
        "name": "MQTT_cfg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "cd21e0b5551f9e39",
        "type": "debug",
        "z": "97fb627249654d0a",
        "name": "Boot_sys",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "c1ccc18a41b1e6ba",
        "type": "debug",
        "z": "97fb627249654d0a",
        "name": "Mennekes 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "e7d323d174c438bf",
        "type": "debug",
        "z": "97fb627249654d0a",
        "name": "Mennekes 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 560,
        "wires": []
    },
    {
        "id": "16a4105ebb1badc8",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "Start mennekes 1 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StartConn1",
        "payloadType": "str",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    },
    {
        "id": "17ed49c4f8f792a7",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "Stop mennekes 1 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StopConn1",
        "payloadType": "str",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    },
    {
        "id": "f4f61c3ae7cff0f4",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "Stop mennekes 2 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StopConn2",
        "payloadType": "str",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    },
    {
        "id": "8fe257649ea8ee15",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "Start mennekes 2 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StartConn2",
        "payloadType": "str",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    },
    {
        "id": "200bc2c93ad52f98",
        "type": "viaris",
        "z": "97fb627249654d0a",
        "name": "EVVC4AC543DCC",
        "serialNumber": "EVVC4AC543DCC",
        "brokerServer": "1.1.2.230",
        "username": "MQTTBROKER",
        "password": "Orbis2022",
        "port": "1883",
        "qos": "0",
        "keepalive": "180",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "aaf3f21ac92d22db"
            ],
            [
                "097ef3285bb984bf"
            ],
            [
                "cd21e0b5551f9e39"
            ],
            [
                "c1ccc18a41b1e6ba"
            ],
            [
                "e7d323d174c438bf"
            ]
        ]
    },
    {
        "id": "4e140c9ee4bfaba0",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "Set current connector 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "16",
        "payload": "SetCurrentConn1",
        "payloadType": "str",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    },
    {
        "id": "d6527538f3138f0c",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "Set current connector 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "16",
        "payload": "SetCurrentConn2",
        "payloadType": "str",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    },
    {
        "id": "f91b16940a6d16db",
        "type": "inject",
        "z": "97fb627249654d0a",
        "name": "SetRTFrame",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"period\":3, \"timeout\":-1}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SetRtFrame",
        "payloadType": "str",
        "x": 490,
        "y": 620,
        "wires": [
            [
                "200bc2c93ad52f98"
            ]
        ]
    }
]