examples/combiplus.json
[
    {
        "id": "be3cb7847700b55b",
        "type": "tab",
        "label": "COMBIPLUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "374eb37d29d622a2",
        "type": "debug",
        "z": "be3cb7847700b55b",
        "name": "Modulator",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d4ddf52587920a5",
        "type": "debug",
        "z": "be3cb7847700b55b",
        "name": "MQTT_cfg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "64712b08896873b3",
        "type": "debug",
        "z": "be3cb7847700b55b",
        "name": "Boot_sys",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "29719b8ce7d81769",
        "type": "debug",
        "z": "be3cb7847700b55b",
        "name": "Mennekes 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "6f0550c7372744f9",
        "type": "debug",
        "z": "be3cb7847700b55b",
        "name": "Mennekes 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 560,
        "wires": []
    },
    {
        "id": "fdc156848ddb304c",
        "type": "inject",
        "z": "be3cb7847700b55b",
        "name": "Start mennekes 1 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StartConn1",
        "payloadType": "str",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "edbf646b7d36ddd4"
            ]
        ]
    },
    {
        "id": "45a7d6693b81efeb",
        "type": "inject",
        "z": "be3cb7847700b55b",
        "name": "Stop mennekes 1 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StopConn1",
        "payloadType": "str",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "edbf646b7d36ddd4"
            ]
        ]
    },
    {
        "id": "46f134e4474a3e6e",
        "type": "inject",
        "z": "be3cb7847700b55b",
        "name": "Stop mennekes 2 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StopConn2",
        "payloadType": "str",
        "x": 440,
        "y": 520,
        "wires": [
            [
                "edbf646b7d36ddd4"
            ]
        ]
    },
    {
        "id": "b61b94a655423552",
        "type": "inject",
        "z": "be3cb7847700b55b",
        "name": "Start mennekes 2 charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StartConn2",
        "payloadType": "str",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "edbf646b7d36ddd4"
            ]
        ]
    },
    {
        "id": "edbf646b7d36ddd4",
        "type": "viaris",
        "z": "be3cb7847700b55b",
        "name": "EVVC4AC543DCC",
        "serialNumber": "EVVC4AC543DCC",
        "brokerServer": "1.1.2.243",
        "username": "MQTTBROKER",
        "password": "Orbis2022",
        "port": "1883",
        "qos": "0",
        "keepalive": "180",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "374eb37d29d622a2"
            ],
            [
                "9d4ddf52587920a5"
            ],
            [
                "64712b08896873b3"
            ],
            [
                "29719b8ce7d81769"
            ],
            [
                "6f0550c7372744f9"
            ]
        ]
    }
]