examples/uni.json
[
    {
        "id": "b15ea5fc4fd43ba8",
        "type": "tab",
        "label": "UNI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b8bd925e0799aeb",
        "type": "debug",
        "z": "b15ea5fc4fd43ba8",
        "name": "Modulator",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "03533180fa4aa628",
        "type": "debug",
        "z": "b15ea5fc4fd43ba8",
        "name": "MQTT_cfg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "3d7864b6a1ddf862",
        "type": "debug",
        "z": "b15ea5fc4fd43ba8",
        "name": "Boot_sys",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "b39bc18b31288830",
        "type": "debug",
        "z": "b15ea5fc4fd43ba8",
        "name": "Mennekes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e1ba4c1992ef0bb",
        "type": "debug",
        "z": "b15ea5fc4fd43ba8",
        "name": "schuko",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "e6be54456990c09a",
        "type": "inject",
        "z": "b15ea5fc4fd43ba8",
        "name": "Start mennekes charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StartConn1",
        "payloadType": "str",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "adf8cddb1cd4026d"
            ]
        ]
    },
    {
        "id": "ccf73b960895659e",
        "type": "inject",
        "z": "b15ea5fc4fd43ba8",
        "name": "Stop mennekes charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StopConn1",
        "payloadType": "str",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "adf8cddb1cd4026d"
            ]
        ]
    },
    {
        "id": "e110b76101b03f86",
        "type": "inject",
        "z": "b15ea5fc4fd43ba8",
        "name": "Stop schuko charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StopConn2",
        "payloadType": "str",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "adf8cddb1cd4026d"
            ]
        ]
    },
    {
        "id": "1491e708adadb675",
        "type": "inject",
        "z": "b15ea5fc4fd43ba8",
        "name": "Start schuko charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "StartConn2",
        "payloadType": "str",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "adf8cddb1cd4026d"
            ]
        ]
    },
    {
        "id": "4f03aa5b9aaac6a6",
        "type": "inject",
        "z": "b15ea5fc4fd43ba8",
        "name": "Set current connector 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "error",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "16",
        "payload": "SetCurrentConn1",
        "payloadType": "str",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "adf8cddb1cd4026d"
            ]
        ]
    },
    {
        "id": "92bda4021cc6e6be",
        "type": "inject",
        "z": "b15ea5fc4fd43ba8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{\"period\":3, \"timeout\":-1}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SetRtFrame",
        "payloadType": "str",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "adf8cddb1cd4026d"
            ]
        ]
    },
    {
        "id": "adf8cddb1cd4026d",
        "type": "viaris",
        "z": "b15ea5fc4fd43ba8",
        "name": "EVVC351187AA0",
        "serialNumber": "EVVC351187AA0",
        "brokerServer": "1.1.2.230",
        "username": "MQTTBROKER",
        "password": "Orbis2022",
        "port": "1883",
        "qos": "0",
        "keepalive": "180",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "0b8bd925e0799aeb"
            ],
            [
                "03533180fa4aa628"
            ],
            [
                "3d7864b6a1ddf862"
            ],
            [
                "b39bc18b31288830"
            ],
            [
                "7e1ba4c1992ef0bb"
            ]
        ]
    }
]